<div class="main_page">
  <!-- start navbar section -->

  <div class="navbar">
    <!-- start navbar menu section -->
    <div class="menu">
      <div class="item-top">
        <img
          src="{{storageAp}}/{{currentUser.photoName}}"
          alt="img"
          style="width: 50px; margin-top: 5px"
        />
        <!-- <div class="item">

              </div> -->
      </div>
      <div class="item-bottom">
        <div class="item" (click)="openUpdateUserDialog()">
          <mat-icon>settings</mat-icon>
        </div>
        <div class="item" (click)="logOut()">
          <mat-icon>login</mat-icon>
        </div>
      </div>
    </div>

    <!-- end navbar menu section  -->

    <!--  start discussion section -->

    <div class="discussions">
      <div class="discussions_header" [formGroup]="chatForm">
        <input
          type="text"
          placeholder="Search..."
          formControlName="searchText"
        />
      </div>
      <div class="discussions_users">
        <mat-list *ngFor="let u of users" style="display: column">
          <div style="display: flex">
            <mat-list-item (click)="chooseUser(u.id)">
              <img
                src="{{storageAp}}/{{u.photoName}}" alt="img"
                style="margin-right: 20px"
              />
              {{ u.firstName }}
            </mat-list-item>
            <div
              *ngIf="u.unReadedMessageCount > 0"
              style="
                margin-top: 20px;
                background-color: rgb(0, 191, 255);
                border-radius: 50px;
                width: 30px;
                height: 25px;
                display:flex;
                align-items: center;
                justify-content: center;
              "
            >
              {{ u.unReadedMessageCount }}
            </div>
          </div>

          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>

    <!-- end discussion section -->
  </div>

  <!-- end navbar section -->

  <!-- start chat section -->

  <div class="chats">
    <div class="chat_header">
      <div class="chat_header_item">
        <img
          src="{{storageAp}}/{{user.photoName}}"
          alt="user image"
          style="width: 50px; border-radius: 100%"
        />
        <h3 style="margin: 10px 10px 10px 20px">
          {{ user.firstName }} {{ user.lastName }}
        </h3>
      </div>
    </div>
    <div class="messages">
      <div class="message" *ngFor="let item of messages">
        <div *ngIf="item.senderId != user?.id; else receiver">
          <div class="message_rigt">
            <p style="margin-right: 20px;margin-top:5px;">
              {{item.msg}}
            </p>
            <p style="margin-right: 10px;margin-top:5px;">
              {{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}
            </p>
          </div>
        </div>
        <ng-template #receiver>
          <div class="message_left">
            <p style="margin-left: 20px;margin-top:5px;">
              {{item.msg}}
            </p>
            <p style="margin-left: 10px;margin-top:5px;">
              {{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="chat_footer" [formGroup]="chatForm">
      <input
        type="text"
        placeholder="Write your message..."
        formControlName="message"
        (keydown)="handleKeydown($event)"
      />
      <div class="send_message" (click)="sendMessage()">
        <mat-icon>telegram</mat-icon>
      </div>
    </div>
  </div>

  <!-- end chat section -->
</div>
