<div class="body">
  <section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <h1 class="opacity">Reset Password</h1>
            <form [formGroup]="resetForm">
                <input type="text" placeholder="Email" formControlName="Email" required="true"/>
                <button class="opacity" (click)="sendResetCode()" [disabled]="resetForm.get('Email')?.invalid">Send Confirmation Code</button>
                <input type="text" placeholder="Confirmation Code" formControlName="ConfirmationCode"/>
                <input type="password" placeholder="New Password" formControlName="NewPassword"/>
                <input type="password" placeholder="Confirm the new password" formControlName="ConfirmNewPassword"/>
                <mat-spinner *ngIf="proccessing"></mat-spinner>
                <button class="opacity" (click)="clickResetPassword()">Reset Password</button>
            </form>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
</div>
