<div class="body">
  <section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <h1 class="opacity">Reset Password</h1>
            <form>
                <input type="text" placeholder="Email" />
                <button class="opacity" (click)="sendResetCode()">Send Confirmation Code</button>
                <input type="text" placeholder="Confirmation Code"/>
                <input type="password" placeholder="New Password" />
                <input type="password" placeholder="Confirm the new password" />
                <button class="opacity" (click)="clickResetPassword()">Reset Password</button>
            </form>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
</div>
