<div class="body">
  <section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <h1 class="opacity">LOGIN</h1>
            <form>
                <input type="text" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button class="opacity">SUBMIT</button>
            </form>
            <div class="register-forget opacity">
              <a (click)="redirectToRegister()">REGISTER</a>
                <a (click)="redirectToReset()">FORGOT PASSWORD</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
</div>
