<div class="body mt-4">
  <div class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        <h1 class="opacity">Register</h1>
        <form [formGroup]="registerForm">
          <input type="text" formControlName="Email" placeholder="Email" required />
          <button class="opacity" (click)="sendConfirmCode()" [disabled]="registerForm.get('Email')?.invalid">Send Confirmation Code</button>
          <input type="text" formControlName="ConfirmCode" placeholder="Confirmation Code" required />
          <mat-spinner *ngIf="processing"></mat-spinner>
          <input type="text" formControlName="FirstName" placeholder="First Name" required />
          <input type="text" formControlName="LastName" placeholder="Last Name" required />
          <input matInput type="password" formControlName="Password" placeholder="Password" required />
          <div *ngIf="registerForm.get('Password')?.invalid && (registerForm.get('Password')?.dirty || registerForm.get('Password')?.touched)" class="error">
            <small *ngIf="registerForm.get('Password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="registerForm.get('Password')?.errors?.['weakPassword']">Password must be at least 8 characters long and include a mix of uppercase, lowercase, number, and special character.</small>
          </div>
          <input matInput type="password" formControlName="ConfirmPassword" placeholder="Confirm Password" required />
          <div *ngIf="registerForm.errors?.['passwordsMismatch'] && (registerForm.get('ConfirmPassword')?.dirty || registerForm.get('ConfirmPassword')?.touched)" class="error">
            <small>Passwords do not match.</small>
          </div>
          <label for="avatar">Photo:</label>
          <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" placeholder="Photo" />
          <button class="opacity" [disabled]="registerForm.invalid" (click)="clickRegister()">Register</button>
        </form>
      </div>
      <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
  </div>
</div>
