<div class="body">
  <section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <h1 class="opacity">Register</h1>
            <form>
              <input type="text" placeholder="FirstName" />
                <input type="text" placeholder="LastName" />
                <input type="text" placeholder="Email" />
                <button class="opacity" (click)="sendConfirmCode()">Send Confirmation Code</button>
                <input type="text" placeholder="Confirmation Code"/>
                <input type="password" placeholder="Password" />
                <input type="password" placeholder="Confirm Password" />
                <button class="opacity" (click)="clickRegister()">Register</button>
            </form>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
</div>
